
.icard {
  position: absolute;
  padding: 10px;
  height: 200px;
  width: 150px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  display: inline-block;
  top: 0;
  left: 0;
}

.cardtop {
  font-size: 2em;
  height: 40px;
  line-height: 0.7em;
}

.cardmid {
  text-align: center;
  font-size: 5em;
  height: 110px;
}

.cardbottom {
  font-size: 2em;
  height: 50px;
  line-height: 0.7em;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.hearts .suit::after {
  content: '\2665';
}

.spades .suit::after {
  content: '\2660';
}

.clubs .suit::after {
  content: '\2663';
}

.diams .suit::after {
  content: '\2666';
}

.spades,
.clubs {
  color: black;
}

.hearts,
.diams {
  color: red;
}

.hand {
  position: relative;
  margin-left: 35%;
}

.players {
  float: left;
  width: 49%;
  background-color: green;
  min-height: 350px;
  border: 3px solid white;
}

.score {
  
  color: white;
  font-size: 20px;
  
}
#scoret {
  padding-bottom: 25px;
  padding-top: 15px;
  margin-left: 10px;
  font-size: 20px;
  font-size: bold;
  color: white;
}

#message {
  font-size: 45px;
  color: white;
  background-color: black;
  padding: 15px;
  height: 50px;
  text-align: center;
  
}

.btn {
  font-size: 35px;
  border-radius: 15px;
  padding: 9px 20px;
  color: white;
  display: inline-block;
  text-align: center;
  text-shadow: 1px 1px #000;
  
}

#btnBattle {
  background-color: red;
}

